configuration {
    modi: "drun,run,window";
    show-icons: true;
    icon-theme: "Yaru";
    display-drun: "";
    display-run: "Run";
    display-window: "Windows";
    drun-display-format: "{icon} {name}";
    font: "JetBrainsMono Nerd Font 10";
}

@theme "/dev/null"

* {
    bg: #141414ee;
    bg-alt: #262626;
    fg: #e0e0e0;
    accent: #d4d4d4;

    background-color: transparent;
    text-color: @fg;
}

window {
    background-color: @bg;
    border: 1px;
    border-color: #3a3a3a;
    border-radius: 0px;
    width: 720px;
    padding: 12px;
}

mainbox {
    children: [inputbar, listview];
    spacing: 10px;
}

inputbar {
    background-color: @bg-alt;
    border-radius: 0px;
    padding: 10px 12px;
    children: [prompt, entry];
}

prompt {
    text-color: @accent;
}

entry {
    placeholder: "Search...";
}

listview {
    lines: 9;
    scrollbar: false;
    spacing: 4px;
}

element {
    padding: 8px;
    border-radius: 0px;
}

element selected {
    background-color: @bg-alt;
    text-color: @accent;
    border: 0px 0px 0px 3px;
    border-color: @accent;
}
