* {
    font-family: "JetBrains Mono Nerd Font", sans-serif;
    font-size: 14px;
    min-height: 0;
}

window#waybar {
    background: transparent;
}

#waybar {
    background-color: #161616;
    border-radius: 4px;
    margin: 6px 10px 0 10px;
}

#workspaces,
#mode,
#window,
#pulseaudio,
#battery,
#network,
#clock,
#temperature,
#cpu,
#memory,
#tray {
    background-color: #1e1e1e;
    border-radius: 2px;
    margin: 3px 4px;
    padding: 0 14px;
    color: #f2f4f8;
}

#workspaces {
    padding: 0 5px;
}

#workspaces button {
    padding: 0 9px;
    margin: 0 2px;
    border-radius: 2px;
    color: #f2f4f8;
    background-color: transparent;
}

#workspaces button.empty {
    color: #808080;
}

#workspaces button.focused,
#workspaces button.active {
    background-color: #ffffff;
    color: #161616;
}

#workspaces button.urgent {
    background-color: #f2f4f8;
    color: #161616;
}

tooltip {
    background: #161616;
    color: #f2f4f8;
    border-radius: 4px;
}

tooltip label {
    font-family: "JetBrains Mono Nerd Font", monospace;
    font-size: 17px;
    padding: 13px;
}

#clock {
    color: #ffffff;
    font-weight: bold;
}

#pulseaudio.muted {
    color: #808080;
}

#network.disconnected {
    color: #808080;
}

#temperature,
#battery {
    color: #93ab93; /* muted green */
}

#temperature.warning,
#battery.warning {
    color: #b8a86a; /* muted yellow */
}

#temperature.critical,
#battery.critical {
    color: #b57272; /* muted red */
}

#tray {
    padding: 0 11px;
}
